@import "tailwindcss";
@import "shadcn/tailwind.css";
@import "tw-animate-css";
@import "flag-icons/css/flag-icons.min.css";
@custom-variant dark (&:is(.dark *));

@import "../style/core/color.css";
@import "../style/core/radius.css";
@import "../style/core/shadows.css";
@import "../style/core/typography.css";
@import "../style/theme/shadcn.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    background: var(--neutral-primary-soft);
    color: var(--body);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}